.control {
  margin: 5px 0 15px;
  background: #fff;
  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.controlRender {
  flex: 1;
  display: flex;
  justify-content: space-between;
}

.list {
  margin: 20px 0;
}

.pagination {
  margin: 15px 0 5px;
  text-align: center;
}
