.control {
  margin: 5px 5px 10px;
  background: #fff;
  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.grid {
  display: flex;
}

.list {
  margin: 0 5px;
}

.pagination {
  margin: 15px 5px 5px;
  text-align: center;
}
